<!--
  Things to do:
  - connect "items per page / item count" to backend 
  - connect "contact landlord" button to messages
-->

<%- include('../_partials/header'); %>

<style>
  @media screen and (max-width:575px) {
    .myCard {
      width: 100% !important;
      max-width: 400px !important;
    }

    .myCardPadding {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .formBG {
    background: #343a40;
  }

  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
</style>

<!--///////////////////////////////////-->
<div>
  <div class="row">
    <!--FILTERS-->
    <!--grid left (filters)-->
    <div class="col-sm-6 col-md-4 col-lg-3 pt-2">
      <%- include('../_partials/filters'); %>
    </div>

    <!--grid right (card items)-->
    <div class="col-sm-6 col-md-8 col-lg-9 ">
      <div>
        <!--items per page / item count-->
        <h6 class="float-left">1-10 of 50 results</h6>
        <h2 class="text-center">Available For Rent</h2>
      </div>
      <div class="row">
        <% if(objectArrayFromDb.length < 1) { %>
        <h2>No Result</h2>
        <% } else { %> <% for(var i=0; i < objectArrayFromDb.length; i++) { %>
        <% var image_b64 = new
        Buffer(objectArrayFromDb[i].thumb).toString('base64') %>

        <div class="myCardPadding pt-2 pr-2">
          <div class="myCard card" style="width: 19rem; height: 28rem;">
            <a href="/listing/<%= objectArrayFromDb[i].id %>">
              <img class="card-img-top" style="width:100%; height:15rem;" 
                onclick="window.location.href = '/listing/<%= objectArrayFromDb[i].id %>';" 
                src="data:image/jpg;base64,<%= image_b64 %>"
                alt="<%= objectArrayFromDb[i].title %>" />
            </a>
            <div class="card-body">
              <h6 class="card-title" onclick="window.location.href = '/listing/<%= objectArrayFromDb[i].id %>';" ><%= objectArrayFromDb[i].title %></h6>
              <p class="card-text">
                  <div class="container">
                      <div class="row">
                        <div class="col">
                            <strong>$<%= objectArrayFromDb[i].price %></strong>
                            <i class="fas fa-bed"></i>:
                            <strong><%= objectArrayFromDb[i].num_bed %></strong>
                            <i class="fa fa-bath" aria-hidden="true"></i>:
                            <strong><%=objectArrayFromDb[i].num_bath %></strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <strong><%=objectArrayFromDb[i].distance_to_sfsu %> mi to SFSU</strong>
                        </div>
                      </div>
                    </div> 
              </p>
              <!-- <a href="/listing/<%= objectArrayFromDb[i].id %>" class="btn btn-primary">View Listing</a>
              <a href="#" class="btn float-right btn-primary">Contact Landlord</a> -->
            </div>
            <div class="card-footer" style="padding:0 !important;">
                <div class="btn-group" role="group" style="width:100%;">
                    <button style="border-radius:0;" type="button" onclick="window.location.href = '/listing/<%= objectArrayFromDb[i].id %>';"  class="btn btn-primary">Details</button>
                    <button style="border-radius:0;" type="button" class="btn btn-secondary">Contact</button><!--open modal-->
                  </div>
            </div>
          </div>
        </div>

        <% } %> <% } %>
        <!--end cards-->
      </div>
    </div>
  </div>
</div>
<%- include('../_partials/footer'); %>