<%- include('../_partials/header'); %>

<style>

  .formBG {
    background: #343a40;
  }
</style>

<!--///////////////////////////////////-->
  <div>
    <div class="row">
      <!--FILTERS-->
      <!--grid left (filters)-->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <%- include('../_partials/filters'); %>
      </div>

      <!--grid right (card items)-->
      <div class="col-sm-6 col-md-8 col-lg-9 ">
        <div class="row">
          <% if(objectArrayFromDb.length < 1) { %>
          <h2>No Result</h2>
          <% } else { %> <% for(var i=0; i < objectArrayFromDb.length; i++) { %>
          <% var image_b64 = new
          Buffer(objectArrayFromDb[i].thumb).toString('base64') %>

          <div class="pt-2 pr-2">
            <div class="card" style="width: 20rem;">
              <img
                class="card-img-top"
                style="width:318px; height:250px;"
                src="data:image/jpg;base64,<%= image_b64 %>"
                alt="<%= objectArrayFromDb[i].title %>"
              />
              <div class="card-body">
                <h5 class="card-title"><%= objectArrayFromDb[i].title %></h5>
                <p class="card-text">
                  Price:
                  <strong>$<%= objectArrayFromDb[i].price %></strong>
                  Bedrooms:
                  <strong><%= objectArrayFromDb[i].num_bed %></strong>
                  Bathrooms:
                  <strong><%=objectArrayFromDb[i].num_bath %></strong>
                  Distance:
                  <strong><%=objectArrayFromDb[i].value %></strong>
                </p>
                <a
                  href="/listing/<%= objectArrayFromDb[i].id %>"
                  class="btn btn-primary"
                  >View Listing</a
                >
              </div>
            </div>
          </div>

          <% } %> <% } %>
          <!--end cards-->
        </div>
      </div>
    </div>
  </div>
<%- include('../_partials/footer'); %>
