<%- include('../_partials/header'); %>

<style>
  @media screen and (max-width:575px) {
    .myCard {
      width: 100% !important;
      max-width: 400px !important;
    }

    .myCardPadding {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .formBG {
    background: #343a40;
  }

  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
</style>

<!--///////////////////////////////////-->
<div>
  <div class="row">
    <!--FILTERS-->
    <!--grid left (filters)-->
    <div class="col-sm-6 col-md-4 col-lg-3 pt-2">
      <%- include('../_partials/filters'); %>
    </div>

    <!--grid right (card items)-->
    <div class="col-sm-6 col-md-8 col-lg-9 ">
      <div class="row">
        <% if(objectArrayFromDb.length < 1) { %>
        <h2>No Result</h2>
        <% } else { %> <% for(var i=0; i < objectArrayFromDb.length; i++) { %>
        <% var image_b64 = new
        Buffer(objectArrayFromDb[i].thumb).toString('base64') %>

        <div class="myCardPadding pt-2 pr-2">
          <div class="myCard card" style="width: 19rem; height: 28rem;">
            <a href="/listing/<%= objectArrayFromDb[i].id %>">
              <img class="card-img-top" style="width:100%; height:15rem;" src="data:image/jpg;base64,<%= image_b64 %>"
                alt="<%= objectArrayFromDb[i].title %>" />
            </a>
            <div class="card-body">
              <h5 class="card-title"><%= objectArrayFromDb[i].title %></h5>
              <p class="card-text">
                Price:
                <strong>$<%= objectArrayFromDb[i].price %></strong>
                Bedrooms:
                <strong><%= objectArrayFromDb[i].num_bed %></strong>
                Bathrooms:
                <strong><%=objectArrayFromDb[i].num_bath %></strong>
                Distance:
                <strong><%=objectArrayFromDb[i].distance_to_sfsu %></strong> mile(s)
              </p>
              <a href="/listing/<%= objectArrayFromDb[i].id %>" class="btn btn-primary">View Listing</a>
              <!--contact landlord button-->
              <a href="#" class="btn float-right btn-primary">Contact Landlord</a>
            </div>
          </div>
        </div>

        <% } %> <% } %>
        <!--end cards-->
      </div>
    </div>
  </div>
</div>
<%- include('../_partials/footer'); %>