<!--
  Things to do:
  - connect "items per page / item count" to backend 
  - connect "contact landlord" button to messages
-->

<%- include('../_partials/header'); %>

<style>
  @media screen and (max-width:575px) {
    .myCard {
      width: 100% !important;
      max-width: 400px !important;
    }

    .myCardPadding {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .formBG {
    background: #343a40;
  }

  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  
  .price-overlay{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00000075;
    color: white;
    padding: 4px;
    
  }

  .info-overlay{
    position: absolute;
    bottom: 0;
    background-color: #00000075;
    color: white;
    padding: 4px 8px;
    width: 100%;
  }
</style>

<!--///////////////////////////////////-->
<div>
  <div style="text-align:center; padding-bottom:20px;padding-top:15px">
  <h4>Provide housing opportunities for incoming San Francisco State University students</h1>
  </div>
  <div class="row">
    <!--FILTERS-->
    <!--grid left (filters)-->
    <div class="col-sm-6 col-md-4 col-lg-3 pt-2">
      <%- include('../_partials/filters'); %>
    </div>

    <!--grid right (card items)-->
    <div class="col-sm-6 col-md-8 col-lg-9 ">
      <div>
        <!--items per page / item count-->
        <h2 style="padding-top: 15px">Available For Rent</h2>
        <h6>1-<%= objectArrayFromDb.length; %> of <%= objectArrayFromDb.length; %> results</h6>
      </div>
      <div class="row">
        <% if(objectArrayFromDb.length < 1) { %>
        <h2>No Result</h2>
        <% } else { %> <% for(var i=0; i < objectArrayFromDb.length; i++) { %>
        <% var image_b64 = new
        Buffer(objectArrayFromDb[i].thumb).toString('base64') %>

        <div class="myCardPadding pt-4 pr-4">
          <div class="myCard card" style="width: 19rem; height: 22rem;">
            <div style="position: relative;">
              <strong class="price-overlay">
                  $<%= objectArrayFromDb[i].price %>
                </strong>
                <a href="/listing/<%= objectArrayFromDb[i].id %>">
                  <img class="card-img-top" style="width:100%; height:15rem;" 
                    onclick="window.location.href = '/listing/<%= objectArrayFromDb[i].id %>';" 
                    src="data:image/jpg;base64,<%= image_b64 %>"
                    alt="<%= objectArrayFromDb[i].title %>" />
                </a>
                <div class="row info-overlay">
                  <div class="col">
                    <i class="fas fa-bed"></i>: <%= objectArrayFromDb[i].num_bed %>
                  </div>
                  <div class="col">
                    <i class="fa fa-bath" aria-hidden="true"></i>: <%=objectArrayFromDb[i].num_bath %>
                  </div>
                  <div>
                    <b><%=objectArrayFromDb[i].distance_to_sfsu %> mi to SFSU</b>
                  </div>
                </div>

            </div>
            

            <div class="card-body" style="padding: 8px">
              <a class="card-title" style="color: #333333" href="/listing/<%= objectArrayFromDb[i].id %>" ><%= objectArrayFromDb[i].title %></a>

              <!-- <a href="/listing/<%= objectArrayFromDb[i].id %>" class="btn btn-primary">View Listing</a>
              <a href="#" class="btn float-right btn-primary">Contact Landlord</a> -->
            </div>
            <div class="card-footer" style="padding:0 !important;">
                <div class="btn-group" role="group" style="width:100%;">
                    <button style="border-radius:0;" type="button" onclick="window.location.href = '/listing/<%= objectArrayFromDb[i].id %>';"  class="btn btn-secondary">Details</button>
                    <button style="border-radius:0;" 
                            onclick="ShowSendMessageDialog(<%= objectArrayFromDb[i].id %>)"
                            type="button"
                            class="btn btn-primary"
                            >Contact</button><!--open modal-->
                  </div>
            </div>
          </div>
        </div>

        <% } %> <% } %>
        <!--end cards-->
      </div>
    </div>
  </div>
</div>
<%- include('../_partials/footer'); %>