
  <%- include('../_partials/header'); %>
<br>
<br>

<div class="text-center row">
    <div class="col-md-2"><a href="/listing/" class="btn btn-primary">Go Back</a></div>
    <div class="col-md-8"><h4><%= objectArrayFromDb[0].title %></h4></div>
    <div class="col-md-2">
        <button class="btn" onclick="location.href='/'" style="background-color:#dea954; color:#f8f8f8">Contact the Owner</button>
      </div>
  </div>
<br>
<br>

<div class="text-center" style="background-color:#f8f8f8">

<div id="demo" class="carousel slide" data-ride="carousel">
    
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner" style=" width:100%">
        <div class="carousel-item active">
          <img src="/images/sample_apt.jpg" style="display:inline" alt="Apartment Image" width="350" height="350">
        </div>
        <div class="carousel-item">
          <img src="/images/sample_apt.jpg" style="display:inline" alt="Apartment Image" width="350" height="350">
        </div>
        <div class="carousel-item">
          <img src="/images/sample_apt.jpg" style="display:inline" alt="Apartment Image" width="350" height="350">
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
    </div>
<br>
<br>
</div>
<div>
<div class="jumbotron text-center" style="background-color:#6440e1; color:#f8f8f8">
  <h3>Basic Information</h3> 
</div>

<div class="text-center row">
    <div class="col-md-7"><h5>type</h5></div>
    <div class="col-md-3"><h4><%= objectArrayFromDb[0].listing_type_id %></h4></div>
  </div>
  

  <br>
  <div class="text-center row">
      <div class="col-md-7"><h5>description</h5></div>
      <div class="col-md-3"><h4><%= objectArrayFromDb[0].description %></h4></div>
    </div>
    
  
    <br>
  <div class="text-center row">
    <div class="col-md-7"><h5>address</h5></div>
    <div class="col-md-3"><h4><%= objectArrayFromDb[0].address %></h4></div>
  </div>
  <br>

  <div class="text-center row">
    <div class="col-md-7"><h5>rent</h5></div>
    <div class="col-md-3"><h4><%= objectArrayFromDb[0].price %></h4></div>
  </div>
<br>

  <div class="jumbotron text-center" style="background-color:#964dd6; color:#f8f8f8">
    <h3>Details</h3> 
  </div>

  <div class="text-center row">
    <div class="col-md-7"><h4>size</h4></div>
    <div class="col-md-3"><h4> <%= objectArrayFromDb[0].size %> sq.feet</h4></div>
  </div>
  <br>
  <div class="text-center row">
    <div class="col-md-7"><h4>number of beds</h4></div>
    <div class="col-md-3"><h4><%= objectArrayFromDb[0].num_bed %></h4></div>
  </div>
  <br>

  <div class="text-center row">
    <div class="col-md-7"><h4>number of baths</h4></div>
    <div class="col-md-3"><h4><%= objectArrayFromDb[0].num_bath %></h4></div>
  </div>

  <br>
  <br>
  <div class="jumbotron text-center" style= "background-color:#dea954; color:#f8f8f8">
      <h3>Features</h3> 
    </div>
  <div class="text-center row">
    <div class="col-md-7"><h4>sample Feature 1</h4></div>
    <div class="col-md-3"><h4> details</h4></div>
  </div>  
  <br>

  <div class="text-center row">
      <div class="col-md-7"><h4>sample Feature 2</h4></div>
      <div class="col-md-3"><h4> details</h4></div>
    </div>  
    <br>
    <br>
  <div class="jumbotron text-center" style="background-color:#1ebae0; color:#f8f8f8">
      <h3>Distance From the University</h3> 
    </div>
    <div class="text-center row">
        <div class="col-md-7"><h4>walk</h4></div>
        <div class="col-md-3"><h4> 10 minutes</h4></div>
      </div>
      <br>
      <div class="text-center row">
          <div class="col-md-7"><h4>car</h4></div>
          <div class="col-md-3"><h4> 3 minutes</h4></div>
        </div>
        <br>
        <div class="text-center row">
            <div class="col-md-7"><h4>bike</h4></div>
            <div class="col-md-3"><h4> 5 minutes</h4></div>
          </div>

        </div>


<%- include('../_partials/footer'); %>
