<!--
Dashboard
todo: 
- connect to backend
- change what buttons show up for users vs admin
-->
<!DOCTYPE html>
<html lang="en">
  <body>
    <header></header>

    <main>
      <%- include('_partials/header'); %>
      <!-- Your Listings Jumbotron -->
      <div class="p-3">
        <div class="jumbotron jumbotron-fluid" style="min-height: 75vh;">
          <div class="text-center">
            <h2>
              <strong>Dashboard</strong>
            </h2>
          </div>
          <div class="px-3">
            <hr />
            <!--Row-->
            <div class="row">
              <div class="col-12">
                <!-- Card Item: Start---------------------------------------------->
                <!-- Card body -->
                <% for(var i=0; i < listings.length; i++) { %>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><kbd>$<%= listings[i].price %></kbd> <%= listings[i].title %>
                    <% if(listings[i].status == "pending"){ %>
                      - <strong>Pending Admin Approval</strong>
                      <% }else{ %>
                      - <strong>Listing Approved</strong>
                      <% } %>
                    </h5>
                    <p class="card-text">
                      Address: <%= listings[i].address %>
                    </p>
                    <!--delete: viewable by User & Admin ONLY-->
                    <form class="form" role="form" autocomplete="off" action='/dashboard/listing/<%= listings[i].id %>/delete' enctype="multipart/form-data" method="post">
                    <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    <% if(isAdmin){ %>
                      <!--approve: viewable by ADMIN ONLY-->
                      <% if(listings[i].status == "pending"){ %>
                        <form class="form" role="form" autocomplete="off" action='/dashboard/listing/<%= listings[i].id %>/approve' enctype="multipart/form-data" method="post">
                          <button class="btn btn-success" type="submit">Approve</button>
                        </form>
                      <% } %>
                    <% } %>
                    <button
                      class="btn btn-primary float-right"
                      type="button"
                      data-toggle="collapse"
                      data-target='#collapse<%= listings[i].id%>'
                      aria-expanded="true"
                      aria-controls="collapse<%= listings[i].id%>"
                    >
                    <% let counter = 0; %>
                            <% for(var j=0; j < messages.length; j++) { %>
                              <% if (messages[j].listing_id == listings[i].id){ %>
                                <% counter++; %>
                              <% } %>
                            <% } %>
                      View Messages (<%= counter %>)
                    </button>
                  </div>
                  <!--Messages dropdown: viewable by USER ONLY
                  NEED TO CHANGE ID FOR EACH TARGET-->
                  <div class="accordion">
                    <div
                      id="collapse<%= listings[i].id%>"
                      class="collapse collapse"
                      aria-labelledby="headingOne"
                    >
                      <hr />
                      <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <% for(var j=0; j < messages.length; j++) { %>
                              <% if (messages[j].listing_id == listings[i].id){ %>
                                <li class="list-group-item">
                                  <h5>From: <%= messages[j].name %></h5>
                                  <%= messages[j].body %>
                                </li>
                              <% } %>
                            <% } %><!--End of For Loop, ejs-->
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %><!-- End of listing card loop-->
                <!-- Card Item2: End ----------------------------------------------->
              </div>
            </div>
            <!--end list card item-->
          </div>
        </div>
      </div>
      <!-- End Your Listings Jumbotron -->
    </main>

    <footer>
      <%- include('_partials/footer'); %>
    </footer>
  </body>
</html>
