<!--
  Checkbox options for number of bedrooms
  Todo: Implement the filter based on user input
-->

<strong>Bedrooms:</strong>
<!-- Bedrooms: 1 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="1"
    id="bedroomCheck1"
    name="bed1"
    <%= (typeof body != 'undefined' && typeof body.bed1 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="bedroomCheck1">
    1
  </label>
</div>
<!-- Bedrooms: 2 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="2"
    id="bedroomCheck2"
    name="bed2"
    <%= (typeof body != 'undefined' && typeof body.bed2 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="bedroomCheck2">
    2
  </label>
</div>
<!-- Bedrooms: 3 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="3"
    id="bedroomCheck3"
    name="bed3"
    <%= (typeof body != 'undefined' && typeof body.bed3 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="bedroomCheck3">
    3
  </label>
</div>
<!-- Bedrooms: 4 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="4"
    id="bedroomCheck4"
    name="bed4"
    <%= (typeof body != 'undefined' && typeof body.bed4 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="bedroomCheck4">
    4
  </label>
</div>
<!-- Bedrooms: 5+ -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="5"
    id="bedroomCheck5"
    name="bed5"
    <%= (typeof body != 'undefined' && typeof body.bed5 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="bedroomCheck5">
    5+
  </label>
</div>
