<!--
  Checkbox options for price range filter
  Todo: Implement the filter based on user input
-->

<strong>Price Range:</strong>
<!-- Below $500 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="500"
    id="priceCheck1"
    name="price1"
    <%= (typeof body != 'undefined' && typeof body.price1 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="priceCheck1">
    Below $500
  </label>
</div>
<!-- $500 - $1000 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="500-1000"
    id="priceCheck2"
    name="price2"
    <%= (typeof body != 'undefined' && typeof body.price2 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="priceCheck2">
    $500 - $1000
  </label>
</div>
<!-- $1000 - $1500 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="1000-1500"
    id="priceCheck3"
    name="price3"
    <%= (typeof body != 'undefined' && typeof body.price3 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="priceCheck3">
    $1000 - $1500
  </label>
</div>
<!-- $1500 - $2000 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="1500-2000"
    id="priceCheck4"
    name="price4"
    <%= (typeof body != 'undefined' && typeof body.price4 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="priceCheck4">
    $1500 - $2000
  </label>
</div>
<!-- $2000 - $2500 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="2000-2500"
    id="priceCheck5"
    name="price5"
    <%= (typeof body != 'undefined' && typeof body.price5 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="priceCheck5">
    $2000 - $2500
  </label>
</div>
<!-- $2500 - $3000 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="2500-3000"
    id="priceCheck6"
    name="price6"
    <%= (typeof body != 'undefined' && typeof body.price6 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="priceCheck6">
    $2500 - $3000
  </label>
</div>
<!-- Above $3000 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="3000"
    id="priceCheck7"
    name="price7"
    <%= (typeof body != 'undefined' && typeof body.price7 != 'undefined')?'checked':'' %>
  />
  <label class="form-check-label" for="priceCheck7">
    Above $3000
  </label>
</div>

<!--*** OLD PRICE RANGE W/ USER INPUT FIELD ***-->

<!--min price
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input
    name="minPrice"
    type="text"
    class="form-control"
    placeholder="Min price"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.minPrice %>"
  />
  <!--max price
  <div class="pr-1"></div>
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input
    name="maxPrice"
    type="text"
    class="form-control"
    placeholder="Max price"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.maxPrice %>"
  />
-->
